@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Red+Hat+Display:wght@500;700;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  line-height: 1.4;
  background-color: hsl(233, 47%, 7%);
  font-family: "Inter", sans-serif;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

span {
  color: hsl(277, 64%, 61%);
}

.container {
  background-color: hsl(244, 38%, 16%);
  color: hsl(0, 0%, 100%);
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}

.container .img {
  background: url(../images/image-header-desktop.jpg);
  width: 500px;
  height: 400px;
  border-radius: 0 0.5rem 0.5rem 0;
}

.container .img .background-color {
  background: hsl(277, 64%, 61%, 30%);
  width: 500px;
  height: 400px;
  border-radius: 0 0.5rem 0.5rem 0;
}

.container .content {
  width: 500px;
  padding: 4rem 5.5rem 4rem 4rem;
}

.container .content .main-p {
  padding: 2rem 0;
}

.container .content .header-stats {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container h1,
h2 {
  font-weight: 700;
}

.container .main-p {
  color: hsla(0, 0%, 100%, 0.75);
}

#stats {
  color: hsla(0, 0%, 100%, 0.6);
  text-transform: uppercase;
  font-family: "Lexend Deca", sans-serif;
}

@media only screen and (max-width: 1000px) {
  body {
    margin-top: 12rem;
  }

  .container {
    margin: 4rem 0;
    text-align: center;
    border-radius: 0.5rem;
    width: 400px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container .img {
    background: url(../images/image-header-desktop.jpg);
    background-size: cover;
    width: 400px;
    border-radius: 0.5rem 0.5rem 0 0;
  }

  .container .img .background-color {
    width: 400px;
    border-radius: 0.5rem 0.5rem 0 0;
  }

  .container .content {
    padding: 2rem 4rem;
  }

  .container .content .header-stats {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #stats {
    margin-bottom: 2rem;
  }
}
